<footer class="">
    <ion-row>
        <ion-col center class="ion-text-center">
            <button>
                <ion-icon name="eye-off-outline"></ion-icon>
                <div>All Rights Reserved</div>
            </button>
        </ion-col>
        <ion-col center class="ion-text-center">
            <button>
                <ion-icon name="copy-outline"></ion-icon>
                <div>Copyright, Full Stack Guru</div>
            </button>
        </ion-col>
        <ion-col center class="ion-text-center">
            <button>
                <ion-icon name="time-outline"></ion-icon>
                <div>Code.Full-Stack.Guru</div>
            </button>
        </ion-col>
    </ion-row>
</footer>