<footer>
    <ion-row>
        <ion-col center class="ion-text-center">
            <button>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>All Rights Reserved.</div>
            </button>
        </ion-col>
        <ion-col center class="ion-text-center">
            <button>
                <ion-icon name="text"></ion-icon>
                <div>Copyright, Full Stack Guru</div>
            </button>
        </ion-col>
        <ion-col center class="ion-text-center">
            <button>
                <ion-icon name="time"></ion-icon>
                <div>code.full-stack.guru</div>
            </button>
        </ion-col>
    </ion-row>
</footer>