<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LMS</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="secondary">
        <ion-icon name="button"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col col-1 col-sm-0 col-md-1 col-lg-2 col-xl-2></ion-col>
      <ion-col col-10 col-sm-12 col-md-10 col-lg-8 col-xl-8>

        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h4>Crud Items</h4>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid [hidden]="state.add || state.edit">
          <ion-row [hidden]="state.add || state.edit">
            <ion-col size="3">
              <ion-button (click)="onAddHandle(editForm)" type="submit" expand="block">Add</ion-button>
            </ion-col>
            <ion-col size="9"></ion-col>
          </ion-row>
        </ion-grid>

        <!-- BEGIN ADD FORM -->
        <form #addForm="ngForm" novalidate [hidden]="!state.add">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-button (click)="onSubmitHandle(editForm)" type="submit" expand="block">Save</ion-button>
                <ion-button (click)="onCancelHandle(editForm)" color="light" expand="block">Cancel</ion-button>
              </ion-col>
              <ion-col size="9">
                <ion-item>
                  <ion-label position="stacked" color="primary">Username</ion-label>
                  <ion-input [(ngModel)]="state.item.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
                    required>
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        <!-- END ADD FORM -->

        <!-- BEGIN EDIT FORM -->
        <form #editForm="ngForm" novalidate [hidden]="!state.edit">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-button (click)="onSubmitHandle(editForm)" type="submit">Save</ion-button>
                <ion-button (click)="onCancelHandle(editForm)" color="light">Cancel</ion-button>
              </ion-col>
              <ion-col size="9">
                <ion-item>
                  <ion-label position="stacked" color="primary">Username</ion-label>
                  <ion-input [(ngModel)]="state.item.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
                    required>
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        <!-- END EDIT FORM -->

        <!-- BEGIN ITEMS GRID -->
        <ion-grid *ngIf="state.formData.length > 0">
          <ion-row *ngFor="let item of state.formData">
            <ion-col size="3">
              <ion-button size="small" fill="outline" (click)="onEditHandle(item)">
                Edit
              </ion-button>
              <ion-button size="small" fill="outline" color="danger" (click)="onDeleteHandle(item)">
                Delete
              </ion-button>
            </ion-col>
            <ion-col size="9">
              <div item-content>
                <ion-text item-end>{{item.username}}</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- END ITEMS FORM -->
      </ion-col>
      <ion-col col-1 col-sm-0 col-md-1 col-lg-2 col-xl-2></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>